<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect everything to the dist folder
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ /dist/$1 [L]

  # SPA fallback — serve index.html for all non-file routes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dist/index.html [L]
</IfModule>
